<!--<div class="container">
  <div class="mt-5">
    <app-coursecard [title]="courseOne.description"></app-coursecard> -->
    <!--<h1>{{courseTwo.description}}</h1>
    <h1>{{courseOne.description}}</h1> --> 
  <!--</div>
</div>-->

<!--<div class="top-menu">
  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>-->

<div class="courses">

  @for(courseAll of coursesAll; track courseAll.id; let index=$index; let count=$count; let first=$first; let last=$last; let even=$even; let odd=$odd) 
  {
    <h5>Count:{{count}}</h5>     
    <app-coursecard [course1]="courseAll" [indexOne]="index" [class.is-first]="first" [class.is-last]="last" [class.is-even]="even" [class.is-odd]="odd"></app-coursecard>       
  }
  

  @empty()
  {
    <h1>No Courses Found</h1> 
  }
  <!--<app-coursecard [course1]="coreCourse"></app-coursecard>  -->
  <!--<app-coursecard [course1]="courseOne"></app-coursecard>-->
  <!--<app-coursecard [course1]="courseTwo"></app-coursecard> -->
  <!--<app-coursecard [course1]="courseThree"></app-coursecard> -->  
</div>

